body{
      font-family: sans-serif;
}

.degrade {
    display: flex;
    align-self: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-repeat:repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

        
  }

.card {
      position: relative;
      width: 300px;
      height: 400px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid rgb(0 0 0 / 36%);
      box-shadow: 0 0 25px rgb(0 0 0 / 30%);
      animation: animate-3;
      animation-duration: 800ms;

    }	  
    .card-3{
      width: 347px;
    }
    .card-cadastro {
      position: relative;
      width: 300px;
      height: 600px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid rgb(0 0 0 / 36%);
      box-shadow: 0 0 25px rgb(0 0 0 / 30%);
      animation: animate-3;
      animation-duration: 900ms;

    }	  
                
                              
             
.img-bx {
      position: absolute;
      top: -8px;
      width: 535px;
      left: -122px;	
      height:100%;
      border-radius: 20px;
      overflow: hidden;
      transform: translateY(10px) scale(0.5);
      transform-origin: top; 
      }

.img-bx img {
      position: absolute;
      top: 100px;
      width: 100%;
      object-fit: cover;
      }

.content {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 30px;
      margin-left: -4px;
      }

.content .detail {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      }

.content .detail h2 {
      color: #444;
      font-size: 1.6em;
      font-weight: bolder;

      }

.content .detail h2 span {
      font-size: 0.7em;
      color: #143F6B;
      font-weight: bold;
      }

.sci {
      position: relative;
      display: flex;
      margin-top: 5px;
      margin-right: 30px;
      width: auto;
      height: 45px;	
      justify-content: space-evenly;
      align-items: center;
      border-radius: 30px;
      border: 1px solid rgb(0 0 0 / 36%);
      background: transparent;
      font-size: 20px;
      color: rgb(2, 2, 2);
      text-decoration: none;
      box-shadow: 0 0px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transition: 0.5s;
      padding-left: 4px;
      cursor: pointer;
      left: 17px;
      }


.sci:hover{
      background: rgba(120, 211, 218, 0.568);background-position: right center;
      
      }

.box{
      color: rgb(0, 0, 0);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: rgba(0, 0, 0, 0.6);
      padding: 15px;
      border-radius: 15px;
      width: 20%;
      
      }
      fieldset{
      border: 10px solid dodgerblue;
      }
      legend{
      border: 20px solid dodgerblue;
      padding: 10px;
      text-align: center;
      background-color: dodgerblue;
      border-radius: 8px;
      }
.inputBox{
      position: relative;
      transition: 0.7s;
      color: rgb(0, 0, 0);
      }
.inputUser{
      height: 40px;
      border: 1px;
      border-radius: 15px;  
      border: 1px solid rgb(0 0 0 / 36%);
      background: transparent;
      outline: 1PX;
      color: rgb(0, 0, 0);
      box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      font-size: 15px;
      width: 96%;
      letter-spacing: 1px;
      justify-content: none;
      padding-left: 11px;
      }
.labelInput{
      position: absolute;
      top: 16px;
      left: 13px;
      pointer-events: none;
      transition: .6s;
      }
.inputUser:focus ~ .labelInput,
  .inputUser:valid ~ .labelInput{
      top: -15px;
      font-size: 13px;
      color: rgba(255, 255, 255, 0);
      
      
      }
      
.md_checkbox {
       font-weight: bold;
      }
  
      .redfinir-senha{
        text-decoration: none;
        color:  #3dacec;
        margin-left: 6px;
         cursor: pointer;
      }

      .redfinir-senha:hover{
        text-decoration: underline;
       color: #3dacec;background-position: right center;
      }

      .conteudo{
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    margin-top: 15vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: absolute;
      }


      .card-2 {
        position: relative;
        display: flex;
        top: 10px;
        width: 257px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid rgb(0 0 0 / 36%);
        box-shadow: 0 0 25px rgb(0 0 0 / 30%);
        flex-wrap: wrap;
        text-align: center;
        padding: 20px;
        color: rgb(0, 0, 0);
        justify-content: center;
        margin-bottom: 30px;
        animation: animate-3;
      animation-duration: 800ms;

                  }
                  
      .card-2 a{
        text-decoration: none;
        color:rgb(61, 172, 236);
        margin-left: 3px;
        
      }            

      .card-2 a:hover{
        text-decoration: underline;
        
      }

      .btlogar{
            margin-bottom: 10px;
            align-content: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
      }
form{
      flex-direction: column;
      align-items: center;
         margin: 15px;
      border-radius: 12px;
      text-align: justify;
      flex-wrap: wrap;
}

p, ol{
      color: rgba(0, 0, 0, 0.82);
      font-size: 13px;
      margin: 10px 7px;
      text-align: justify;

}

ol{
       margin-left: -14px;
}

.info-texto{
      align-items: center;
      text-align: center;
}

.autenticador{
      width: 20px;
}

.modal{
      width: 500px;
      height: 400px;
       backdrop-filter: blur(10px);
       background: #fff;
       border-radius: 10px;
       border: 1px solid rgb(0 0 0 / 36%);
       box-shadow: 0 0 25px rgb(0 0 0 / 30%);
      position: absolute;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 5px;
      display: none;
      animation: animate;
      animation-duration: 800ms;
}

@media only screen and (max-width: 600px) {
  .modal{
    width: 348px;
   height: 500px;
    top: 50%;
    margin: 0;
  }
       .conteudo{
      margin-top: 24%;
 }

}


h1{
      margin-top: 42px;
}

h1, h2{
      text-align: center;
    color: rgba(0, 0, 0, 0.82);
    font-size: 25px;
}

h2 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 31px;
    margin-right: 11px;
}

.fechar{
      width: 18px;
      height: 8px;
      border-radius: 50%;
      float: right;
      cursor: pointer;
      animation: animate-3;
      animation-duration: 800ms;
      color: rgb(0, 0, 0);
      font-size: 21px;
      text-align: center;
}

@keyframes animate{
      from{opacity: 1;}
      from{opacity: 0;}
}

@keyframes animate-2{
      from{opacity: 0;}
      from{opacity: 1;}
}

@keyframes animate-3{
      0% {
            opacity: 0;
            -webkit-transform: translateX(-20px);
          }
          100% {
            opacity: 1;
            -webkit-transform: translateX(0);
          }
        }

.limpar{
      clear: initial;
}
